body {
    background-image: linear-gradient(to right, rgb(206, 206, 255), rgb(154, 154, 234));
    font-family: 'Mulish', sans-serif;
    font-family: 'Questrial', sans-serif;
}

.top-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    color:  rgb(143, 96, 118);
    font-size: 18px;
}

.icons img, #delete-icon {
    width: 15px;
    height: 15px;
    padding: 3px;
}

@media (max-width: 767px) {
    .top-container {
        width: 100%;
    }
    h1 {
        font-size: 13px;
    }
    .icons img {
        width: 12px;
        height: 12px;
    }
}

.sec-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec-container img {
    width: 15px;
    height: 15px;
    padding: 3px;
}

@media (max-width: 767px) {
    .top-container {
        width: 100%;
    }
    h2 {
        font-size: 15px;
    }
    .icons img {
        width: 12px;
        height: 12px;
    }
}

form {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 170px;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

form input {
    width: 80%;
    border: none;
    border-radius: 30px;
    padding: 17px;
}

form button {
    margin: 0 auto;
    width: 20%;
    max-width: 100px;
    min-width: 70px;
    border: none;
    border-radius: 40px;
    padding: 5px;
    background-color: white;
}

.posts-container {
    margin: 0 auto;  
    width: 100%;
    max-width: 500px;
    min-width: 100px;
}

.post {
    display: grid;
    grid-gap: 80px;
    width: 100%;
    min-width: 100px;
    border: none;
    border-radius: 40px;
    padding: 13px;
    background-color: white;
}