body {
    background-image: linear-gradient(to right, rgb(206, 206, 255), rgb(154, 154, 234));
    font-family: 'Mulish', sans-serif;
    font-family: 'Questrial', sans-serif;
}

h1 {
    color: rgb(143, 96, 118);
    text-align: center;
    padding: 40px;
}

h2 {
    color: rgb(82, 82, 82);
    text-align: center;
    padding-bottom: 30px;
    font-size: 17px;
}

.login-container{
    margin: 0 auto;  
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.login-form {
    display: grid;
    grid-gap: 60px;
}

.login-form input {
    width: 100%;
    border: 1px solid rgb(143, 96, 118);
    border-radius: 40px;
    padding: 17px;
}

.login-form button {
    margin: 0 auto;
    width: 30%;
    min-width: 120px;
    border: none;
    border-radius: 40px;
    padding: 13px;
    background-color: white;
    color: rgb(143, 96, 118);
}

.login-form button:hover{
    cursor: pointer;
    background-color: rgb(143, 96, 118);
    color: white;
}

@media (max-width: 767px) {
    .login-container {
        width: 70%;
    }
  
    form {
      grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .login-container {
      width: 80%;
    }
  
    form {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }