body {
    background-color: rgb(186, 247, 247);
}

h1 {
    color: rgb(244, 115, 115);
    text-align: center;
    padding: 50px;
}

.login-container{
    margin: 0 auto;  
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.login-form {
    display: grid;
    grid-gap: 70px;
}

.login-form input {
    width: 100%;
    border: none;
    border-radius: 40px;
    padding: 17px;
}

.login-form button {
    margin: 0 auto;
    width: 30%;
    min-width: 120px;
    border: none;
    border-radius: 40px;
    padding: 13px;
    background-color: white;
    color: rgb(244, 115, 115);
}

@media (max-width: 767px) {
    h1 {
        font-size: 27px;
    }

    .login-container {
        width: 70%;
    }
  
    form {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
}

@media (min-width: 768px) {
    .login-container {
      width: 80%;
    }
  
    form {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }